// RESET STYLE 
*,*::before,*::after {box-sizing: border-box;}
ul[class],ol[class] {padding: 0;}
body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd {margin: 0;}
body {min-height: 100vh; scroll-behavior: smooth; text-rendering: optimizeSpeed; line-height: 1.5; background-color: #0d141b;}
ul[class],ol[class] {list-style: none;}
a:not([class]) {text-decoration-skip-ink: auto;}
img {max-width: 100%; display: block;}
article > * + * {margin-top: 1em;}
input,button,textarea,select {font: inherit;}
@media (prefers-reduced-motion: reduce) {* {animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important;}}


// VARIABLES
$limit-size1920: 1568px;
$limit-size1600: 1254px;


$bodyColor: #0d141b;
$yellow: #D1C12B;
$white: #FFFFFF;


// MULTI-STYLES

.none {
    display: none;
}
.link-reset {
    text-decoration: none;
    color: #FFFFFF;
}
.lock {
    overflow: hidden;
}

.centered {
    margin: 0 auto;
}

.hover-yellow:hover {
    color: $yellow;
}

.button {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 15px 40px;
    box-shadow:0px 0px 0px 2px $yellow inset;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background: rgba(15, 21, 29, 0.2);
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px $yellow;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.title-bg {
    position: absolute;
    width: 100%;
    font-family: 'Usually-font';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    
    color: #1F252D;
}
.title {
    position: absolute;
    transform: translateY(-50%);
    font-family: 'Uindbase Font 1';
    font-style: normal;
    font-weight: 400;
    top: 50%;
    text-transform: uppercase;
    text-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.title-wrapper {
    height: 160px;
    position: relative;
}

// MODALS
.burger-menu {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    
    text-align: center;
    font-family: 'Uindbase Font 1';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: #0d141b;
    z-index: 5;
    overflow: auto;
    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;

        width: 100%;
        min-height: 100vh;
    }
    &__close {
        width: 50px;
        height: 50px;
        padding: 10px 0px 0px 10px;
        font-size: 30px;
        color: #FFFFFF;
        position: absolute;
        right: 0;
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// STYLE
.header {
    max-width: $limit-size1920;
    padding: 0 15px;
    padding-top: 40px;

    font-family: 'Uindbase Font 1';
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    
    color: $white;
    .header-burger {
        display: none;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        .header-menu-wrapper {
            display: flex;
            align-items: baseline;
        }
        &__menu {
            display: flex;
            gap: 50px;
            padding-left: 40px;

            font-size: 20px;
            line-height: 12px;
        }
        &__item {
            display: inline-block;
        }
        .header-social {
            display: flex;
            gap: 10px;
            &__link {
                font-size: 16px;
            }
        }
    }

    .header-subnav {
        padding-left: 230px;
        font-size: 15px;
        line-height: 15px;
        &__menu {
            display: flex;
            gap: 60px;
            padding-top: 40px;
        }
        &__item {
            display: inline-block;
        }
    }
}

main {
    .intro {
        max-width: 1920px;
        padding-top: 135px;
        &-title-wrapper {
            height: 300px;
            padding-top: 40px;
            position: relative;
            overflow: hidden;
        }
        &__bg-title {
            position: absolute;

            font-family: 'Usually-font';
            font-style: normal;
            font-weight: 700;
            font-size: 170px;
            line-height: 120px;
            text-align: center;
            text-transform: uppercase;

            color:#1F252D;
        }

        &__title {
            position: absolute;

            font-family: 'Usually-font';
            font-style: normal;
            font-weight: 700;
            font-size: 130px;
            line-height: 113px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 5px 0px purple,
                        -5px 0px 5px $yellow;

            color: #FFFFFF;
        }

        &__subtitle {
            font-family: 'Uindbase Font 1';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 25px;

            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;

            text-shadow: 10px 24px 10px rgba(0, 0, 0, 0.27);
        }
        &-social {
            display: none;
        }
        &-button-wrapper {
            display: flex;
            justify-content: end;

            max-width: $limit-size1920;
            padding: 0 20px;
        }

        &-button {
            align-self: start;
            margin-top: 175px;
        }
        &-button__text {
            font-family: 'Uindbase Font 1';
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            color: $yellow;
        }
    }

    .this-season {
        max-width: $limit-size1920;
        
        padding-top: 280px;
        &__title-bg {
            position: absolute;
            text-align: left;
            font-size: 140px;
            line-height: 160px;
        }
        &__title {
            font-size: 100px;
            line-height: 100px;
        }
        .ts-slider {
            max-width: 1248px;

            &__slide {
                height: 600px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            &__slide-text-wrapper {
                width: 300px;
                padding-top: 100px;
                margin-right: 100px;
            }
            .slide__button {
                margin-top: 15px;
            }
            #slide-1 {
                background-image: url("../img/main-slider-slide.jpg");
                display: flex;
                justify-content: end;

                font-family: 'Uindbase Font 1';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 15px;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;

                color: #FFFFFF;
            }
            #slide-2 {
                background-image: url("../img/main-slider-slide.jpg");
            }
            #slide-3 {
                background-image: url("../img/main-slider-slide.jpg");
            }
            #slide-4 {
                background-image: url("../img/main-slider-slide.jpg");
            }
            #slide-5 {
                background-image: url("../img/main-slider-slide.jpg");
            }
            &-pagination {
                display: flex;
                justify-content: center;
                gap: 30px;

                padding-top: 15px;
            }
            &-pag-bullet {
                width: 160px;
                height: 2px;
                background-color: #FFFFFF;
                border-radius: 1px;
                -webkit-border-radius: 1px;
                -moz-border-radius: 1px;
                -ms-border-radius: 1px;
                -o-border-radius: 1px;
            }
            &-pag-bullet--active {
                width: 160px;
                height: 2px;
                background-color: $yellow;
                border-radius: 1px ;
                -webkit-border-radius: 1px ;
                -moz-border-radius: 1px ;
                -ms-border-radius: 1px ;
                -o-border-radius: 1px ;
            }
        }
    }

    .actual {
        max-width: $limit-size1920;

        padding-top: 50px;

        font-family: 'Uindbase Font 1';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;

        &__title-bg {
            font-size: 160px;
            line-height: 160px;
            text-align: right;
        }
        &__title {
            font-size: 100px;
            line-height: 100px;

            right: 0;
        }
        &__title-ws {
            display: none;
        }
        &__title-ws-1 {
            display: none;
        }

        &__slider {
            max-width: 1248px;
            // SLIDE
            .actual-card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                perspective: none;

                width: 270px;
                height: 470px;
                &-flip {
                    position: relative;
                    transform-style: preserve-3d;

                    transition: 0.6s;
                    -webkit-transition: 0.6s;
                    -moz-transition: 0.6s;
                    -ms-transition: 0.6s;
                    -o-transition: 0.6s;
                }
                &-front,&-back {
                    width: 270px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;

                    background-color: #10171F;
                }
                &-front {
                    transform: rotateY(0);
                    -webkit-transform: rotateY(0);
                    -moz-transform: rotateY(0);
                    -ms-transform: rotateY(0);
                    -o-transform: rotateY(0);

                    z-index: 2;
                }
                &-back {
                    transform: rotateY(180deg);
                    -webkit-transform: rotateY(180deg);
                    -moz-transform: rotateY(180deg);
                    -ms-transform: rotateY(180deg);
                    -o-transform: rotateY(180deg);
                }

                // BACK 
                &__bg {
                    width: 270px;
                    height: 380px;
                    padding: 30px 15px 0 15px;

                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;

                    background-image: url("../img/card-back.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &__back-text {
                    padding-top: 30px;
                }
                &-back-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 90px;

                    text-decoration: underline;
                }

                // FRONT
                &__photo img {
                    width: 270px;
                    height: 380px;
                    object-fit: cover;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                &__name {
                    padding: 5.5px 5px 0px 5px;
                }
                &-buy-wrapper {
                    display: flex;
                    justify-content: space-between;

                    padding: 15px 10px 10px 10px;
                }
                &__buy {
                    text-decoration: underline;
                }
            }
        }
        &-more-wrapper {
            text-align: center;
            padding: 60px 0px;
            width: 100%;
        }
        &__more {
            display: inline-block;
            max-width: 1248px;
            text-align: center;
            text-decoration: underline;
        }
    }

    .contact {
        max-width: $limit-size1920;
        &__title-bg {
            font-size: 180px;
            line-height: 180px;
        }
        &__title {
            font-size: 100px;
        }
        &-content-wrapper {
            padding: 20px 0px;
            display: flex;
        }
        &__map img {
            max-width: 1000px;
            height: 550px;
            object-fit: cover;
        }
        &__links {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;

            font-family: 'Uindbase Font 1';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 25px;

            text-transform: uppercase;

            color: #FFFFFF;
            flex-grow: 1;
        }
    }
}

.footer {

    font-family: 'Uindbase Font 1';
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    font-style: normal;
    
    color: #FFFFFF;

    padding: 40px 15px 60px 15px;
    max-width: $limit-size1600;
    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-box {
        display: flex;
        width: 33%;
    }
    &__policy {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .footer__policy-link {
        width: 100%;
        text-align: left;
    }
    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        color: #FFFFFF;
    }
    &__social {
        justify-content: end;
        gap: 10px;
    }
    &__copyright {
        text-align: center;
    }
}

@media (max-width: 1600px) {
    .header {
        max-width: $limit-size1600;


        .header-subnav {
            padding-left: 180px;
        }
    }

    main {
        .intro {
            max-width: 1600px;
            padding-top: 115px;
            &__bg-title {
                font-size: 110px;
            }
    
            &__title {
                font-size: 100px;
            }
        }

        .this-season {
            max-width: $limit-size1600;
            padding-top: 64px;
            &-title-wrapper {
                height: 320px;
            }
            &__title {
                padding-left: 10px;
                width: 50%;
            }
        }
        .actual {
            max-width: $limit-size1600;
    
            padding-top: 0px;
            &-title-wrapper {
                height: 300px;
            }
            &__title-bg {
                font-size: 160px;
                right: 0;
            }
            &__title {
                top: 30%;
            }
            &__title-ws {
                display: block;
            }
        }
        .contact {
            max-width: $limit-size1600;
            &__title-bg {
                font-size: 130px;
                line-height: 130px;
            }
            &__title {
                font-size: 80px;
                line-height: 80px;
            }
            &-content-wrapper {
                padding: 20px 0px;
            }
            &__map img {
                max-width: 835px;
                height: 425px;
            }
            &__links {
                font-size: 20px;
                line-height: 20px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        max-width: 100%;
        .header-nav {
            flex-direction: column;
            align-items: center;
            &__logo {
                display: none;
            }
            &__menu {
                display: flex;
                justify-content: center;
            }
            .header-social {
                display: none;
            }
        }

        .header-subnav {
            padding-left: 0;
            &__menu {
                justify-content: center;
            }
        }
    }

    main {
        .intro {
            display: flex;
            flex-direction: column;
            max-width: 1024px;
            padding-top: 90px;
            &-title-wrapper {
                height: 200px;
                padding-top: 40px;
                position: relative;
            }
            &__bg-title {
                font-size: 80px;
                line-height: 69.68px;
            }
    
            &__title {
                font-size: 65px;
                line-height: 52.26px;
            }
            &-social {
                display: block;

                padding-top: 35px;
                padding-bottom: 45px;
                margin: 0 auto;
            }
            &-button-wrapper {
                justify-content: center;
            }
            &-button {
                margin-top: 0;
            }
        }

        .this-season {
            max-width: 100%;
            padding-top: 90px;
            &-title-wrapper {
                height: 280px;
            }
            &__title-bg {
                font-size: 100px;
            }
            &__title {
                font-size: 80px;
                padding-left: 0px;
            }

            .ts-slider {
                max-width: 100%;
    
                &__slide {
                    height: 500px;
                }
                &__slide-text-wrapper {
                    display: none;
                }
                &-pagination {    
                    padding-top: 35px;
                }
                &-pag-bullet {
                    width: 100px;
                }
                &-pag-bullet--active {
                    width: 100px;
                }
            }
        }

        .actual {
            padding-top: 25px;
    
            font-size: 15px;
            line-height: 15px;
            &-title-wrapper {
                height: 160px;
            }
            &__title-bg {
                font-size: 80px;
                line-height: 80px;
                right: 50%;
                transform: translatex(50%);
                -webkit-transform: translatex(50%);
                -moz-transform: translatex(50%);
                -ms-transform: translatex(50%);
                -o-transform: translatex(50%);
            }
            &__title {
                font-size: 100px;
                line-height: 100px;
                top: 0;
                right: 50%;
                transform: translatex(50%);
                -webkit-transform: translatex(50%);
                -moz-transform: translatex(50%);
                -ms-transform: translatex(50%);
                -o-transform: translatex(50%);
            }
            &__title-ws {
                display: none;
            }
            
        }

        .contact {
            &__title-bg {
                font-size: 70px;
                line-height: 160px;
            }
            &__title {
                font-size: 70px;
                line-height: 70px;
                padding-left: 20px;
            }
            &-content-wrapper {
                flex-direction: column;
                gap: 40px;
            }
            &__map img {
                max-width: 100%;
                width: 100%;
            }
            &__links {
                font-size: 25px;
                line-height: 30px;
            }
            &__social {
                display: none;
            }
        }
    }

    .footer {
        font-size: 10px;

        padding: 20px 0;
        &-wrapper {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        &-box {
            width: 100%;
        }
        .footer__policy-link {
            text-align: center;
        }
        &__social {
            justify-content: center;
            font-size: 15px;
        }
        &__copyright {
            padding-top: 15px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        padding: 30px 20px 0px 20px;
        .header-burger {
            display: block;

            font-size: 25px;

            color: $yellow;

        }
        .header-nav {
            display: block;
            &__menu {
                display: none
            }
            .header-social {
                display: block;
            }
        }
        .header-subnav {
            display: none;
        }
    }

    main {
        .intro {
            display: block;
            max-width: 1024px;
            padding-top: 90px;
            &-title-wrapper {
                height: 160px;
                padding-top: 0;
                position: relative;
            }
            &__bg-title {
                font-size: 50px;
                line-height: 52.26px;
            }
    
            &__title {
                font-size: 40px;
                line-height: 40px;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
}
            &-social {
                display: none;
            }
            &-button-wrapper {
                justify-content: end;
            }
            &-button {
                margin-top: 230px;
            }
        }

        .this-season {
            max-width: 100%;
            padding-top: 215px;
            &-title-wrapper {
                height: 160px;
            }
            &__title-bg {
                padding-left: 15px;
                font-size: 60px;
                line-height: 60px;
            }
            &__title {
                top: 0;
                padding-left: 15px;
                line-height: 60px;
                transform: translateY(0);
                font-size: 60px;
                width: 90%;
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
            }

            .ts-slider {
                max-width: 100%;
    
                &__slide {
                    height: 400px;
                }
                &__slide-text-wrapper {
                    display: none;
                }
                &-pagination {    
                    padding-top: 15px;
                }
                &-pag-bullet {
                    width: 50px;
                }
                &-pag-bullet--active {
                    width: 50px;
                }
            }
        }

        .actual {
            padding-top: 0px;
    
            font-size: 13px;
            line-height: 13px;
            &-title-wrapper {
                height: 160px;
            }
            &__title-bg {
                font-size: 80px;
                line-height: 80px;
                right: 50%;
                transform: translatex(50%);
                -webkit-transform: translatex(50%);
                -moz-transform: translatex(50%);
                -ms-transform: translatex(50%);
                -o-transform: translatex(50%);
            }
            &__title {
                font-size: 60px;
                line-height: 100px;
                top: 0;
                right: 50%;
                transform: translatex(50%);
                -webkit-transform: translatex(50%);
                -moz-transform: translatex(50%);
                -ms-transform: translatex(50%);
                -o-transform: translatex(50%);
            }
            &__title-ws-1 {
                display: block;
            }
            &__slider {
                width: 100%;
                .actual-card {
                    width: 180px;
                    height: 330px;
                    &-front,&-back {
                        width: 180px;
                    }
                    &__bg {
                        width: 180px;
                        height: 250px;
                        padding: 20px 5px 0px 5px;
                    }
                    
                    &__photo img {
                        height: 250px;
                        width: 180px;
                    }
                }
                
            }
            
        }

        .contact {
            &__title-bg {
                display: none;
            }
            &__title {
                font-size: 50px;
                line-height: 50px;
                padding-left: 5px;
            }
            &-content-wrapper {
                padding: 20px 0px;
            }
        }
    }
}

