*, *::before, *::after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #0d141b;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.none {
  display: none;
}

.link-reset {
  text-decoration: none;
  color: #FFFFFF;
}

.centered {
  margin: 0 auto;
}

.hover-yellow:hover {
  color: #D1C12B;
}

.button {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0px 0px 0px 2px #D1C12B inset;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  background: rgba(15, 21, 29, 0.2);
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #D1C12B;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.header {
  max-width: 1568px;
  padding: 0 15px;
  padding-top: 40px;
  font-family: "Uindbase Font 1";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header .header-burger {
  display: none;
}
.header .header-nav {
  display: flex;
  justify-content: space-between;
}
.header .header-nav .header-menu-wrapper {
  display: flex;
  align-items: baseline;
}
.header .header-nav__menu {
  display: flex;
  gap: 50px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 12px;
}
.header .header-nav__item {
  display: inline-block;
}
.header .header-nav .header-social {
  display: flex;
  gap: 10px;
}
.header .header-nav .header-social__link {
  font-size: 16px;
}
.header .header-subnav {
  padding-left: 230px;
  font-size: 15px;
  line-height: 15px;
}
.header .header-subnav__menu {
  display: flex;
  gap: 60px;
  padding-top: 40px;
}
.header .header-subnav__item {
  display: inline-block;
}

main .intro {
  max-width: 1920px;
  padding-top: 135px;
}
main .intro-title-wrapper {
  height: 300px;
  padding-top: 40px;
  position: relative;
}
main .intro__bg-title {
  position: absolute;
  font-family: "Usually-font";
  font-style: normal;
  font-weight: 700;
  font-size: 170px;
  line-height: 120px;
  text-align: center;
  text-transform: uppercase;
  color: #1F252D;
}
main .intro__title {
  position: absolute;
  font-family: "Usually-font";
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 113px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 5px 0px purple, -5px 0px 5px #D1C12B;
  color: #FFFFFF;
}
main .intro__subtitle {
  font-family: "Uindbase Font 1";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 10px 24px 10px rgba(0, 0, 0, 0.27);
}
main .intro-social {
  display: none;
}
main .intro-button-wrapper {
  display: flex;
  justify-content: end;
  max-width: 1568px;
  padding: 0 20px;
}
main .intro-button {
  align-self: start;
  margin-top: 175px;
}
main .intro-button__text {
  font-family: "Uindbase Font 1";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #D1C12B;
}
main .this-season {
  max-width: 1568px;
  padding-top: 280px;
}
main .this-season-title-wrapper {
  height: 160px;
  position: relative;
}
main .this-season__title-bg {
  position: absolute;
  font-family: "Usually-font";
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  line-height: 160px;
  text-transform: uppercase;
  color: #1F252D;
}
main .this-season__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Uindbase Font 1";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
main .this-season .ts-slider {
  max-width: 1248px;
}
main .this-season .ts-slider__slide {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main .this-season .ts-slider__slide-text-wrapper {
  width: 300px;
  padding-top: 100px;
  margin-right: 100px;
}
main .this-season .ts-slider .slide__button {
  margin-top: 15px;
}
main .this-season .ts-slider #slide-1 {
  background-image: url("../img/main-slider-slide.jpg");
  display: flex;
  justify-content: end;
  font-family: "Uindbase Font 1";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
main .this-season .ts-slider #slide-2 {
  background-image: url("../img/main-slider-slide.jpg");
}
main .this-season .ts-slider #slide-3 {
  background-image: url("../img/main-slider-slide.jpg");
}
main .this-season .ts-slider #slide-4 {
  background-image: url("../img/main-slider-slide.jpg");
}
main .this-season .ts-slider #slide-5 {
  background-image: url("../img/main-slider-slide.jpg");
}
main .this-season .ts-slider-pagination {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 15px;
}
main .this-season .ts-slider-pag-bullet {
  width: 160px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}
main .this-season .ts-slider-pag-bullet--active {
  width: 160px;
  height: 2px;
  background-color: #D1C12B;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

@media (max-width: 1600px) {
  .header {
    max-width: 1254px;
  }
  .header .header-subnav {
    padding-left: 180px;
  }
  main .intro {
    max-width: 1600px;
    padding-top: 115px;
  }
  main .intro__bg-title {
    font-size: 110px;
  }
  main .intro__title {
    font-size: 100px;
  }
  main .this-season {
    max-width: 1254px;
    padding-top: 64px;
  }
  main .this-season-title-wrapper {
    height: 320px;
  }
  main .this-season__title {
    padding-left: 10px;
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .header {
    max-width: 100%;
  }
  .header .header-nav {
    flex-direction: column;
    align-items: center;
  }
  .header .header-nav__logo {
    display: none;
  }
  .header .header-nav__menu {
    display: flex;
    justify-content: center;
  }
  .header .header-nav .header-social {
    display: none;
  }
  .header .header-subnav {
    padding-left: 0;
  }
  .header .header-subnav__menu {
    justify-content: center;
  }
  main .intro {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    padding-top: 90px;
  }
  main .intro-title-wrapper {
    height: 200px;
    padding-top: 40px;
    position: relative;
  }
  main .intro__bg-title {
    font-size: 80px;
    line-height: 69.68px;
  }
  main .intro__title {
    font-size: 65px;
    line-height: 52.26px;
  }
  main .intro-social {
    display: block;
    padding-top: 35px;
    padding-bottom: 45px;
    margin: 0 auto;
  }
  main .intro-button-wrapper {
    justify-content: center;
  }
  main .intro-button {
    margin-top: 0;
  }
  main .this-season {
    max-width: 100%;
    padding-top: 90px;
  }
  main .this-season-title-wrapper {
    padding: 0 70px;
    height: 280px;
  }
  main .this-season__title-bg {
    font-size: 90px;
  }
  main .this-season__title {
    font-size: 80px;
    width: 90%;
  }
  main .this-season .ts-slider {
    max-width: 100%;
  }
  main .this-season .ts-slider__slide {
    height: 500px;
  }
  main .this-season .ts-slider__slide-text-wrapper {
    display: none;
  }
  main .this-season .ts-slider-pagination {
    padding-top: 35px;
  }
  main .this-season .ts-slider-pag-bullet {
    width: 100px;
  }
  main .this-season .ts-slider-pag-bullet--active {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .header {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px 0px 20px;
  }
  .header .header-burger {
    display: block;
    font-size: 25px;
    color: #D1C12B;
  }
  .header .header-nav {
    display: block;
  }
  .header .header-nav__menu {
    display: none;
  }
  .header .header-nav .header-social {
    display: block;
  }
  .header .header-subnav {
    display: none;
  }
  main .intro {
    display: block;
    max-width: 1024px;
    padding-top: 90px;
  }
  main .intro-title-wrapper {
    height: 160px;
    padding-top: 0;
    position: relative;
  }
  main .intro__bg-title {
    font-size: 60px;
    line-height: 52.26px;
  }
  main .intro__title {
    font-size: 50px;
    line-height: 40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  main .intro-social {
    display: none;
  }
  main .intro-button-wrapper {
    justify-content: end;
  }
  main .intro-button {
    margin-top: 230px;
  }
  main .this-season {
    max-width: 100%;
    padding-top: 215px;
  }
  main .this-season-title-wrapper {
    padding: 0 15px;
    height: 160px;
  }
  main .this-season__title-bg {
    font-size: 60px;
    line-height: 60px;
  }
  main .this-season__title {
    top: 0;
    line-height: 60px;
    transform: translateY(0);
    font-size: 60px;
    width: 90%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  main .this-season .ts-slider {
    max-width: 100%;
  }
  main .this-season .ts-slider__slide {
    height: 400px;
  }
  main .this-season .ts-slider__slide-text-wrapper {
    display: none;
  }
  main .this-season .ts-slider-pagination {
    padding-top: 15px;
  }
  main .this-season .ts-slider-pag-bullet {
    width: 50px;
  }
  main .this-season .ts-slider-pag-bullet--active {
    width: 50px;
  }
}/*# sourceMappingURL=style.css.map */